<div cdkDropList [cdkDropListData]="fieldGroupControlsArray()" (cdkDropListDropped)="onDragAndDrop($event)">
    <div *ngFor="let group of fieldGroupControlsArray(); index as currentIndex" cdkDrag class="lf-field-group">
        <div class="field-group-top-bar">
            <span class="drag-index-section">
                <svg class="field-group-button field-group-drag-handle" cdkDragHandle xmlns="http://www.w3.org/2000/svg"
                    height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                </svg>
                <span class="index-display">{{res_0_of_1 | lfFieldGroupIndexDisplay: currentIndex :
                    fieldGroupControlsArray().length | async}}</span>
            </span>
            <span class="field-group-buttons">
                <button class="field-group-button" (click)="onClickAdd(currentIndex)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                    </svg>
                </button>
                <button class="field-group-button" [disabled]="currentIndex === 0" (click)="onClickUp(currentIndex)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" />
                    </svg>
                </button>
                <button class="field-group-button" [disabled]="currentIndex >= (fieldGroupControlsArray().length - 1)"
                    (click)="onClickDown(currentIndex)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z" />
                    </svg>
                </button>
                <button class="field-group-button" [disabled]="fieldGroupControlsArray().length <= 1"
                    (click)="onClickDelete(currentIndex)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z" />
                    </svg>
                </button>
            </span>
        </div>
        <div *ngFor="let fieldDef of fieldDefinitions">
            <span class="lf-field-container" id="lf-field-container">
                <span *ngIf="fieldDef?.fieldInfo.name" class="lf-field-title-container">
                    <span class="lf-field-title">{{fieldDef?.fieldInfo.name}}</span>
                    <span class="lf-field-is-required" *ngIf="fieldDef?.fieldInfo.isRequired">*</span>
                    <lf-loader-component *ngIf="isLoading(fieldDef.fieldInfo, currentIndex)"></lf-loader-component>
                </span>
                <lf-field-base-component id="{{fieldDef.fieldInfo.name}}{{currentIndex}}" [parentForm]="group"
                    [lfFieldFormControl]="getSingleField(currentIndex, fieldDef.fieldInfo.id)"
                    [lfFieldValue]="getSingleField(currentIndex, fieldDef.fieldInfo.id)?.value"
                    [lfFieldInfo]="fieldDef.fieldInfo"
                    [dynamicFieldValueOptions]="getOptions(fieldDef.fieldInfo, currentIndex)"
                    (fieldValueChange)="fieldDataChange($event, fieldDef.fieldInfo, currentIndex)">
                </lf-field-base-component>
            </span>
        </div>
    </div>
</div>