<span class="token-picker-field-box" *ngIf="!isDynamic else dynamic">
  <mat-form-field *ngIf="!showTokenTextBox" title="{{nameToDisplay}}" appearance="outline" class="lf-field">
    <input #tokenTarget matInput type="time" [formControl]="lf_field_form_control" title="{{lf_field_form_control.value}}"
      (change)="onDateOrTimeChanged()" step="{{step}}">
    <mat-error *ngIf="getBrokenValidationRule()">{{fieldValidationErrorMsg | async}}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="showTokenTextBox" title="{{nameToDisplay}}" appearance="outline" class="lf-field">
    <input #tokenTarget matInput type="text" [formControl]="lf_field_form_control" title="{{lf_field_form_control.value}}"
      (change)="onTimeValueChangedAsync()">
    <mat-error *ngIf="getBrokenValidationRule()">{{fieldValidationErrorMsg | async}}</mat-error>
  </mat-form-field>
  <lf-token-picker-component class="lf-field-token-picker" (tokenPicked)="onTimeTokenChosen($event)" [data]="lfFieldTokenData">
  </lf-token-picker-component>
</span>
<ng-template #dynamic>
  <lf-dynamic-field-component ngDefaultControl [options]="dynamic_field_value_options" [formControl]="lf_field_form_control"
    [title]="nameToDisplay" [fieldValidationErrorMsg]="fieldValidationErrorMsg"
    [getBrokenValidationRule]="getBrokenValidationRule.bind(this)" (valueChange)="onValueChanged()">
  </lf-dynamic-field-component>
</ng-template>
