registry=https://v-dev-tfs/DefaultCollection/_packaging/LFNPMPackages/npm/registry/
always-auth=true
strict-ssl=false

; begin auth token
//v-dev-tfs/DefaultCollection/_packaging/LFNPMPackages/npm/registry/:username=LFNPMPackages
//v-dev-tfs/DefaultCollection/_packaging/LFNPMPackages/npm/registry/:_password=${NPM_AUTH_TOKEN}
//v-dev-tfs/DefaultCollection/_packaging/LFNPMPackages/npm/registry/:email=npm requires email to be set but doesn't use the value
//v-dev-tfs/DefaultCollection/_packaging/LFNPMPackages/npm/:username=LFNPMPackages
//v-dev-tfs/DefaultCollection/_packaging/LFNPMPackages/npm/:_password=${NPM_AUTH_TOKEN}
//v-dev-tfs/DefaultCollection/_packaging/LFNPMPackages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
