@use "typography-mo";
@use "sass:math";

$border-width: 1px;
$border-radius: 2px;
$focus-border-width: 2px;
$hover-border-color: black;
$padding-left: 8px;
$padding-right: 8px;
$height: 32px;
$options-height: 36px;
$options-padding-stack: 7px 10px 8px;

mat-label.lf-dropdown-label {
  padding-left: $padding-left;
  line-height:  $height - 2*$border-width;
}

.lf-dropdown .mat-form-field-label-wrapper, .lf-dropdown .mat-form-field-label {
  top: 0;
  padding-top: 0;
  height: $height;
}

mat-select.lf-dropdown, select.lf-dropdown{
  font: typography-mo.$body-stack;
  color: typography-mo.$hover-color;
  padding-left: $padding-left;
  padding-right: $padding-right;
  cursor: pointer;
  height: $height;
  line-height: $height - 2*$border-width;
  box-sizing: border-box;
  border-width: $border-width;
  border-style: solid;
  border-color: typography-mo.$hover-color;
  border-radius: $border-radius;

  &:hover {
    border-color: $hover-border-color;
    color: typography-mo.$font-color;
  }
  &:focus {
    border-color: typography-mo.$primary-color;
    border-width: $focus-border-width;
    line-height: $height - 2*$focus-border-width;
    outline: 0px;
    padding-left: $padding-left - math.div($focus-border-width, 2);
  }
  option {
    color: typography-mo.$font-color;
    font: typography-mo.$body-stack;
    height: $options-height;
    padding: $options-padding-stack;
    box-sizing: border-box;
  }

}

mat-form-field.lf-dropdown {
  display: block;
  width: 100%;
}

.lf-field .mdc-line-ripple {
    display: none;
}

.lf-dropdown div.mat-mdc-select-arrow-wrapper {
  padding-top: 0px;
}

.lf-dropdown div.mat-mdc-select-value {
  padding-top: 0px;
}

.lf-dropdown .mat-mdc-form-field-infix {
  height: 28px;
  padding: 0px;
  border-top: 0 solid transparent;
}

.lf-dropdown.mat-mdc-form-field.lf-field > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  padding: 0px;
}

mat-option.mat-mdc-option {
  font-size: 14px;
}

.lf-field.lf-dropdown.lf-template-picker > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex {
  height: 35px;
  background-color: white;
}

.lf-template-picker .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}