@use "typography-mo";
@use "sass:math";

$border-width: 1px;
$border-radius: 2px;
$focus-border-width: 2px;
$hover-border-color: black;
$padding-left: 10px;
$height: 32px;
$options-height: 36px;
$options-padding-stack: 7px 10px 8px;

mat-label.lf-dropdown-label {
  padding-left: $padding-left;
  line-height: 30px !important;
}

.mat-form-field-label-wrapper, .mat-form-field-appearance-legacy .mat-form-field-label, .mat-form-field-label {
  top: 0;
  padding-top: 0;
}

mat-select.lf-dropdown, select.lf-dropdown{
  font: typography-mo.$body-stack;
  color: typography-mo.$hover-color;
  padding-left: $padding-left;
  cursor: pointer;
  height: $height;
  line-height: $height - 2*$border-width;
  box-sizing: border-box;
  border-width: $border-width;
  border-style: solid;
  border-color: typography-mo.$hover-color;
  border-radius: $border-radius;

  &:hover {
    border-color: $hover-border-color;
    color: typography-mo.$font-color;
  }
  &:focus {
    border-color: typography-mo.$primary-color;
    border-width: $focus-border-width;
    line-height: $height - 2*$focus-border-width;
    outline: 0px;
    padding-left: $padding-left - math.div($focus-border-width, 2);

  }
  option {
    color: typography-mo.$font-color;
    font: typography-mo.$body-stack;
    height: $options-height;
    padding: $options-padding-stack;
    box-sizing: border-box;
  }

}

mat-form-field.lf-dropdown {
  display: block;
  width: 100%;
}

.mat-form-field-underline {
  display: none;
}

div.mat-select-arrow-wrapper {
  padding-top: 0px;
}

div.mat-select-value {
  padding-top: 0px;
}

.lf-dropdown.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.lf-dropdown .mat-form-field-infix {
  height: 32px;
  padding: 0px;
  border-top: 0 solid transparent;
}

.lf-dropdown.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px;
}
