@use "typography-mo";

$height: 30px;
$border-width: 1px;
$hover-border-color: black;
$border-radius: 2px;
$padding-lr: 8px;
$padding-tb: 0px;
$padding-stack: $padding-tb $padding-lr;
$margin-stack: 0px 0px;
$background-color: white;

.lf-text-field{
  padding: $padding-stack;
  margin: $margin-stack;
  height: $height;

  font: typography-mo.$body-stack;
  color: typography-mo.$font-color;
  line-height: $height - 2*$border-width;

  border-radius: $border-radius;
  border-color: typography-mo.$hover-color;
  border-width: $border-width;
  border-style: solid;

  background-color: white;

  box-sizing: border-box;

  &:focus {
    color: typography-mo.$font-color;
    outline: typography-mo.$primary-color auto 2px;
  }

  &:disabled {
    color: typography-mo.$disabled-font-color;
    border-color: typography-mo.$disabled-background-color;
    background-color: typography-mo.$disabled-background-color;

    &:hover {
      border-color: typography-mo.$disabled-background-color;
    }
  }

  &:hover {
    border-color: $hover-border-color;
  }
}

.lf-textarea {
  &:focus {
    color: typography-mo.$font-color;
    outline: typography-mo.$primary-color auto 2px;
  }
}
