::ng-deep .cdk-overlay-backdrop.lf-user-feedback-backdrop {
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    user-select: none;
}