:root {
    display: block;
    height: 100%;
}

#lf-list-viewport {
    height: 100%;
}

::ng-deep cdk-virtual-scroll-viewport#lf-list-viewport .cdk-virtual-scroll-content-wrapper {
    padding: 2px 0;
}
