<cdk-virtual-scroll-viewport
  #viewport
  id="lf-list-viewport"
  [itemSize]="itemSize"
  (scrolledIndexChange)="onScroll($event)"
  (keydown)="onViewportKeyDown($event)"
>
  <table
    role="grid"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 lf-table-selection-list"
    matSort
    (matSortChange)="sortData($event)"
    [multiTemplateDataRows]="true"
    fixedLayout="true"
  >
    <ng-container *ngIf="multipleSelection" matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox> -->
      </th>
      <td mat-cell class="multiselect-column" *matCellDef="let row">
        <mat-checkbox
          class="lf-checkbox multiselect-indicator lf-no-ripple"
          *ngIf="multipleSelection && row?.isSelectable"
          tabindex="-1"
          [checked]="row?.isSelected"
          color="primary"
          (click)="onCheckboxClicked($event)"
          disableRipple
          [checked]="row.isSelected"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="lf-ellipsis-overflow">
        <!-- <span class="resize-handle resize-handle-left" (mousedown)="onResizeColumn($event, 1)"></span> -->
        <span>Name</span>
        <span class="resize-handle resize-handle-right" (mousedown)="onResizeColumn($event, 1)"></span>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="icon-name-container">
          <div *ngIf="getIcons(element.value).length > 0" class="fixed-size-icon-container">
            <img *ngFor="let icon of getIcons(element.value)" src="{{ icon }}" alt="" class="lf-entry-icon" />
          </div>
          <span title="{{ element.value?.name }}" class="lf-ellipsis-overflow">{{ element.value?.name }} </span>
        </div>
      </td></ng-container
    >

    <ng-container [matColumnDef]="column.id" *ngFor="let column of columns; let i = index">
      <th mat-sort-header  mat-header-cell *matHeaderCellDef class="lf-ellipsis-overflow">
        <!-- <span class="resize-handle resize-handle-left" (mousedown)="onResizeColumn($event, i+2)"></span> -->
        {{ column.displayName }}
        <span class="resize-handle resize-handle-right" (mousedown)="onResizeColumn($event, i+2)"></span>
      </th>
      <td mat-cell class="lf-ellipsis-overflow" *matCellDef="let element">{{ element.value.attributes?.get(column.id)?.displayValue }}</td>
    </ng-container>

    <tr
      class="lf-selection-list-header-row"
      [ngClass]="{'lf-hidden-column-header': (columns?.length < 1)}"
      mat-header-row
      *matHeaderRowDef="allColumnHeaders; sticky: true"
    ></tr>
    <tr
      [style.height.px]="placeholderHeight"
      mat-row
      *matRowDef="let row; let index = index; columns: []; when: placeholderWhen"
    ></tr>

    <tr
      mat-row
      *matRowDef="let row; let i = dataIndex; columns: allColumnHeaders"
      tabindex="0"
      class="item-holder"
      [ngClass]="{
        'non-selectable-option': !row.isSelectable,
        'selectable-option': row.isSelectable,
        'node-selected': row.isSelected
      }"
      [attr.id]="_computeRowId(i)"
      (click)="onClickMatListOption($event, row, i)"
      (dblclick)="onDblClick($event, row)"
      (focusin)="onFocused(i)"
      (keydown)="onItemKeyDown($event, row)"
      (keyup)="onItemKeyUp($event, row)"
    ></tr>
  </table>
</cdk-virtual-scroll-viewport>
