:root {
  display: block;
  height: 100%;
}

#lf-list-viewport {
  height: 100%;
}

.lf-name-col-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.item-holder {
  color: var(--lf-body-text-color, #333333);
}

.item-holder:not("lf-list-item-disabled") {
  cursor: pointer;
  outline: none;
}

.node-selected.item-holder {
  background-color: var(--lf-menu-item-selected-color, #eaf5ff) !important;
}

.item-holder:hover {
  background-color: var(--lf-menu-item-hover-color, #f5fbff);
}

.item-holder:focus {
  outline: var(--lf-menu-item-active-outline-color, #1783d6) auto 2px !important;
  background-color: var(--lf-menu-item-hover-color, #f5fbff);
}
.item-holder.fill-multiselect {
  padding-left: 32px;
}
::ng-deep mat-checkbox.lf-no-ripple .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-ripple {
  width: 0;
  height: 0;
}
.multiselect-column .multiselect-indicator {
  padding-right: 8px;
  display: inline-grid;
}

:host .lf-table-selection-list th.mat-header-cell:has(.mat-sort-header-sorted) {
  background-color: #e2e2e2;
}

:host .lf-table-selection-list th.mat-header-cell {
  border-left-color: rgb(0, 0, 0, 0.12);
  border-left-width: 1px;
  border-left-style: solid;
}

:host .lf-table-selection-list th.mat-header-cell,
:host .lf-table-selection-list td.mat-cell,
:host .lf-table-selection-list td.mat-footer-cell {
  border-bottom: none;
  padding: 0px 10px;
  box-sizing: border-box;
}

:host .lf-table-selection-list tr.item-holder {
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);;
}

:host .lf-table-selection-list th.mat-header-cell.multiselect-column,
:host .lf-table-selection-list td.mat-cell.multiselect-column,
:host .lf-table-selection-list td.mat-footer-cell.multiselect-column {
  padding: 0 0 0 15px;
}

::ng-deep .lf-ellipsis-label .mat-sort-header-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

::ng-deep .lf-ellipsis-label .mat-sort-header-container {
  width: 100%;
}

:host .lf-table-selection-list th.mat-header-cell {
  background-color: #f3f3f3;
}

:host .lf-table-selection-list th.mat-header-cell:last-of-type {
  border-right-color: rgb(0,0,0,0.12);
  border-right-width: 1px;
  border-right-style: solid;
}

:host .lf-table-selection-list th.mat-header-cell {
  overflow: visible !important;
}

.repository-browser-resize-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #aeaeae;
  user-select: none;
  z-index: 1;
  cursor: col-resize;
}

.lf-resize-wrapper-div {
  width: 100%;
  position: relative;
}

::ng-deep cdk-virtual-scroll-viewport#lf-list-viewport .cdk-virtual-scroll-content-wrapper .lf-table-selection-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
::ng-deep .lf-table-selection-list tr {
  display: grid;
}

::ng-deep .lf-table-selection-list thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.column-text-div {
  display: flex;
  align-items: center;
}

::ng-deep #lf-list-viewport.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
  /* min-width: auto; */
  transform: translateY(0px) !important;
  width: fit-content;
  min-height: 100%;
}

table th .resize-handle:hover {
  opacity: 1;
  /* transition: .3s ease-in-out; */
  background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}

::ng-deep .lf-table-selection-list th.placeholder {
  height: 20px;
}

::ng-deep .mat-sort-header .mat-sort-header-arrow {
  display: none;
}

::ng-deep .lf-table-selection-list .mat-sort-header:hover .mat-sort-header-arrow,
::ng-deep .lf-table-selection-list .mat-sort-header-sorted .mat-sort-header-arrow {
  display: flex;
}

.resize-handle {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 100%;
  cursor: col-resize;
  opacity: 0;
  width: 15px;
  right: -17.5px;
}

.lf-hidden-column-header {
  height: 0px !important;
}

.lf-hidden-column-header .mat-header-cell {
  font-size: 0;
  border-bottom-style: hidden;
}

.lf-hidden-column-header .mat-sort-header {
  display: none;
}
