:root {
  display: block;
  height: 100%;
}

#lf-list-viewport {
  height: 100%;
}

::ng-deep cdk-virtual-scroll-viewport#lf-list-viewport .cdk-virtual-scroll-content-wrapper {
  padding: 2px 0;
}
table {
  width: 100%;
}

.icon-name-container {
  display: flex;
  align-items: center;
}

.fixed-size-icon-container {
  position: relative;
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin: 5px 10px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lf-entry-icon {
  display: block;
  height: 24px;
  width: 24px;
  overflow: hidden;
  position: absolute;
}

.item-holder {
  max-height: 42px;
  min-height: 42px;
  height: 42px;
  color: var(--lf-body-text-color, #333333);
}

.item-holder:not("lf-list-item-disabled") {
  cursor: pointer;
  outline: none;
}

.item-holder:hover {
  background-color: var(--lf-menu-item-hover-color, #f5fbff);
}

.item-holder:focus {
  outline: var(--lf-menu-item-active-outline-color, #1783d6) auto 2px !important;
  background-color: var(--lf-menu-item-hover-color, #f5fbff);
}
