<div class="lf-toolbar-container">
  <span [matTooltip]="displayedOption.name" matTooltipClass="lf-web-client-tooltip"
      class="lf-toolbar-expanded-button-span" *ngFor="let displayedOption of displayed_options">
      <button class="lf-toolbar-button" [disabled]="displayedOption.disabled"
          (click)="onClickButton(displayedOption)">
          <img *ngFor="let icon of getIcons(displayedOption)" [src]="icon" [alt]="displayedOption.name"
              class="lf-toolbar-button-icon" />
      </button>
  </span>
  <button *ngIf="dropdown_options && dropdown_options.length > 0" class="lf-toolbar-button"
      [matMenuTriggerFor]="compactButtonMenu">
      <svg width="18" height="18" viewBox="0 0 18 18" class="lf-toolbar-dropdown-button-icon">
          <g>
              <path d="M8.5,3C9.328,3,10,3.671,10,4.5S9.328,6,8.5,6S7,5.329,7,4.5S7.672,3,8.5,3z"></path>
              <path d="M8.5,8C9.328,8,10,8.672,10,9.5S9.328,11,8.5,11S7,10.328,7,9.5S7.672,8,8.5,8z"></path>
              <path d="M8.5,13c0.828,0,1.5,0.672,1.5,1.5S9.328,16,8.5,16S7,15.328,7,14.5S7.672,13,8.5,13z"></path>
          </g>>
      </svg>
  </button>
  <mat-menu #compactButtonMenu="matMenu" class="lf-dropdown-menu">
    <button [disabled]="dropdownOption.disabled" class="lf-dropdown-menu-option"
        *ngFor="let dropdownOption of dropdown_options" mat-menu-item
        (click)="onClickButton(dropdownOption)">{{dropdownOption.name}}</button>
  </mat-menu>
</div>
