@use "typography-lf";

$border-color: #E0E0E0;
$border-width: 1px;
$border-radius: 2px;

$padding-left: 10px;
$height: 34px;

$focus-box-shadow: rgba(32, 124, 185, 0.637) 0px 0px 3px 1.5px;

$options-height: 34px;
$options-padding-stack: 7px 10px 8px;



mat-select.lf-dropdown, select.lf-dropdown {
  font: typography-lf.$body-stack;
  color: typography-lf.$body-color;
  padding-left: $padding-left;
  cursor: pointer;
  height: $height;
  line-height: $height - 2*$border-width;

  box-sizing: border-box;

  border-width: $border-width;
  border-style: solid;
  border-color: $border-color;
  border-radius: $border-radius;

  &:focus {
    box-shadow: $focus-box-shadow;
    outline: 0px;
  }

  option {
    color: typography-lf.$body-color;
    font: typography-lf.$body-stack;
    height: $options-height;
    padding: $options-padding-stack;

    box-sizing: border-box;
  }
}

mat-form-field.lf-dropdown {
  display: block;
  width: 100%;
}

.mat-form-field-underline {
  display: none;
}

div.mat-select-arrow-wrapper {
  padding-top: 0px;
}

div.mat-select-value {
  padding-top: 0px;
}

.lf-dropdown.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.lf-dropdown .mat-form-field-infix {
  height: 28px;
  padding: 0px;
  border-top: 0 solid transparent;
}

.lf-dropdown.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px;
}

.lf-dropdown-no-template .mat-select-value-text{
  color: rgba(0, 0, 0, 0.54) !important;
}
