@use "typography-lf";

$border-color: #e0e0e0;
$border-width: 1px;
$border-radius: 2px;

$padding-left: 10px;
$padding-right: 10px;
$height: 34px;

$focus-box-shadow: rgba(32, 124, 185, 0.637) 0px 0px 3px 1.5px;

$options-height: 34px;
$options-padding-stack: 7px 10px 8px;

mat-label.lf-dropdown-label {
  padding-left: $padding-left;
  line-height: $height - 2 * $border-width;
}

.lf-dropdown .mat-form-field-label-wrapper,
.lf-dropdown .mat-form-field-label {
  top: 0;
  padding-top: 0;
  height: $height;
}

mat-select.lf-dropdown,
select.lf-dropdown {
  font: typography-lf.$body-stack;
  color: typography-lf.$body-color;
  padding-left: $padding-left;
  padding-right: $padding-right;
  cursor: pointer;
  height: $height;
  line-height: $height - 2 * $border-width;

  box-sizing: border-box;

  border-width: $border-width;
  border-style: solid;
  border-color: $border-color;
  border-radius: $border-radius;

  &:focus {
    box-shadow: $focus-box-shadow;
    outline: 0px;
  }

  option {
    color: typography-lf.$body-color;
    font: typography-lf.$body-stack;
    height: $options-height;
    padding: $options-padding-stack;

    box-sizing: border-box;
  }
}

mat-form-field.lf-dropdown {
  display: block;
  width: 100%;
}

.lf-field .mdc-line-ripple {
    display: none;
}

.lf-dropdown div.mat-mdc-select-arrow-wrapper {
  padding-top: 0px;
}

.lf-dropdown div.mat-mdc-select-value {
  padding-top: 0px;
}

.lf-dropdown:not(.lf-mat-dropdown) .mat-mdc-form-field-infix {
  height: 28px;
  padding: 0px;
  border-top: 0 solid transparent;
}

.lf-dropdown.mat-mdc-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  padding: 0px;
}

.mat-mdc-form-field {
  line-height: 1.125;
}

.lf-field.lf-dropdown.lf-template-picker .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}
.lf-field.lf-dropdown.lf-template-picker > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex {
  height: 35px;
  background-color: white;
}

.lf-field.lf-dropdown.lf-template-picker > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  height: 35px;
}

mat-option.mat-mdc-option {
  font-size: 14px;
}

.cdk-overlay-container .mat-mdc-option {
  min-height: 42px;
}