// Menu item colors
$lf-menu-item-hover-color: #f5fbff;
$lf-menu-item-selected-color: #eaf5ff;

:root {
  --lf-menu-item-hover-color: #f5fbff;
  --lf-menu-item-selected-color: #eaf5ff;
  --lf-menu-item-active-outline-color: #1783d6;

  --lf-primary-button-color: #00866b;
  --lf-primary-button-border-hover-color: #005342;
  --lf-primary-button-focus-color: #005342;
  --lf-primary-button-active-color: #005342;
  --lf-primary-button-active-font-color: #ffffff;

  --lf-secondary-button-color: #e0e0e0;
  --lf-secondary-button-border-hover-color: #cccccc;
  --lf-secondary-button-focus-color: #cccccc;
  --lf-secondary-button-active-color: #cccccc;
  --lf-secondary-button-font-color: #333333;

  --lf-primary-text-color: #333333;
  --lf-label-text-color: #6d6d6d;
  --lf-icon-color: #6d6d6d;
  --lf-empty-state-text-color: #6d6d6d;
  --lf-default-border-color: #e0e0e0;
  --lf-link-color: #0069cf;
}
