/* NOTES: 
.lf-checklist-item .mat-mdc-text-field-wrapper {} in items.css - remove display inline 
ng-deep override the folowing .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--mdc-filled-text-field-container-color);
}
 mdccheckbox mdc form field width 100%


*/


.lf-checklist-item {
  margin: 5px;
}

.fixed-width-label {
  display: flex;
}

.fixed-size-icon-container {
  display: flex;
  min-width: 30px;
  width: 30px;
  height: 30px;
  align-items: center;
  margin-right: 5px;
  position: relative;
}

.lf-checklist-item-icon {
  display: block;
  height: 24px;
  width: 24px;
  overflow: hidden;
  position: absolute;
}

.lf-checklist-field {
  width: 100%;
  height: 34px;
}

.mat-mdc-input-element {
  caret-color: black;
  padding-left: 8px;
}

.field-box {
  flex-grow: 1;
}

::ng-deep .lf-checklist-item mat-error {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 100;
}

::ng-deep .lf-checklist-item-name {
  max-width: calc(100% - 35px);
}

/** Angular Material input content (this is where the text goes) */
::ng-deep mat-form-field.lf-checklist-field >
.mat-mdc-form-field-wrapper >
.mat-form-field-flex >
.mat-form-field-infix {
  border-top: 0px;
  padding: 0px;
  width: inherit;
}

::ng-deep mat-form-field.lf-checklist-field .mdc-line-ripple {
  display: none;
}


::ng-deep mat-form-field.lf-checklist-field >
.mat-mdc-text-field-wrapper >
.mat-mdc-form-field-flex >
.mat-mdc-form-field-infix input{
  font-size: 14px;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
/* Addressed */
/* ::ng-deep .lf-checklist-item .mat-form-field-appearance-standard .mat-mdc-form-field-flex  { */
::ng-deep .lf-checklist-item .mat-mdc-form-field-type-mat-input .mat-mdc-form-field-flex  {
  align-items: center;
  border-radius: 2px;
  border-color: #6D6D6D;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}

::ng-deep .lf-checklist-item .mat-mdc-form-field-subscript-wrapper {
  position: static;
  margin-top: 0px;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
/* dont know what is form field invalid */
::ng-deep .lf-checklist-item .mat-form-field-invalid .mat-mdc-form-field-subscript-wrapper {
  padding-top: 5px;
}

::ng-deep .lf-checklist-item .mat-mdc-text-field-wrapper {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

::ng-deep .lf-checklist-item .mat-form-field-disabled .mat-mdc-form-field-flex {
  border-color: #F3F3F3;
  background-color: #F3F3F3;
  color: #8A8A8A;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
/* cannot find mat focused */
::ng-deep .lf-checklist-item .mat-focused .mat-mdc-form-field-flex {
  outline-offset: 0px;
}

::ng-deep .lf-checklist-field > .mat-mdc-text-field-wrapper {
  height: inherit;
}

::ng-deep .mdc-label {
  width: inherit;
}

::ng-deep .lf-checkbox.mat-mdc-checkbox > .mdc-form-field {
  width: 100%;
}
