<div class="lf-header">
  <lf-breadcrumbs-component [breadcrumbs]="breadcrumbs" (breadcrumbClicked)="onBreadcrumbClicked($event)">
  </lf-breadcrumbs-component>
  <lf-toolbar-component *ngIf="toolbarService" [dropdown_options]="toolbarService.getToolbarOptions()">
  </lf-toolbar-component>
</div>
<div class="lf-repo-entry-container">
    <lf-loader-component *ngIf="isLoading" class="no-entries-text"></lf-loader-component>
    <ng-container *ngIf="!isLoading">
        <div id="message-display" *ngIf="shouldShowErrorMessage || shouldShowEmptyMessage; else showList">
            <div *ngIf="shouldShowErrorMessage" class="error-entries-text">{{ AN_ERROR_OCCURED | async }}</div>
            <div *ngIf="shouldShowEmptyMessage" class="no-entries-text">{{ THIS_FOLDER_IS_EMPTY | async }}</div>
        </div>
        <ng-template #showList>
            <lf-selection-list-component
                [listItems]="currentFolderChildren"
                [multiple]="multiple"
                [listItemRef]="listOption"
                [itemSize]="itemSize"
                (scrollChanged)="onScroll()"
                (itemDoubleClicked)="onDblClickAsync($event)"
                (itemSelected)="onItemSelected($event)"
                >
                <ng-template #listOption let-item="value">
                    <div *ngIf="getIcons(item).length > 0" class="fixed-size-icon-container">
                        <img *ngFor="let icon of getIcons(item)" src="{{ icon }}" alt="" class="lf-entry-icon" />
                    </div>
                    <p matLine class="lf-entry-name" title="{{ item?.name }}">
                        <span>{{ item?.name }}</span>
                    </p>
                </ng-template>
            </lf-selection-list-component>
        </ng-template>
    </ng-container>
</div>
