
  <div   class="user-feedback-content-container lf-dialog-content">
  <div class="lf-text-body lf-user-feedback-description">
    {{
      isFeedback
        ? (localizedStrings.FOUND_SOMETHING_LIKE_DISLIKE_LET_US_KNOW | async)
        : (localizedStrings.DO_YOU_HAVE_IDEA_NEW_FEATURE_IMPROVEMENT_LOOK_FORWARD_TO_HEARING | async)
    }}
  </div>
  <label for="feedback-suggestion-textbox" class="lf-text-label">{{
    isFeedback ? (localizedStrings.TELL_US_ABOUT_EXPERIENCE | async) : (localizedStrings.TELL_US_ABOUT_IDEA | async)
  }}</label>
  <textarea
    id="feedback-suggestion-textbox"
    rows="12"
    [maxlength]="maxFeedbackLength"
    [(ngModel)]="feedbackTextBox"
    class="lf-textarea lf-text-placeholder lf-text-body feedback-suggestion-textbox"
    [placeholder]="localizedStrings.PLEASE_DO_NOT_INCLUDE_CONFIDENTIAL_OR_PERSONAL_INFO_IN_FEEDBACK | async"
  ></textarea>
  <span class="lf-text-body character-count">
    <span>{{ feedbackTextBox?.length ? feedbackTextBox.length : "0" }}</span>
    <span> / </span>
    <span>{{ maxFeedbackLength }}</span>
  </span>
  <lib-feedback-image-upload [(feedbackImageBase64)]="feedbackImageBase64"></lib-feedback-image-upload>
  <div class="email-checkbox-container">
    <mat-checkbox
      color="primary"
      class="lf-user-feedback-checkbox lf-checkbox"
      [disableRipple]="true"
      ngDefaultControl
      [(ngModel)]="feedbackEmailCheckbox"
    >
      {{ localizedStrings.YOU_MAY_CONTACT_ME_ABOUT_FEEDBACK | async }}
    </mat-checkbox>
  </div>
</div>
