<div class="lf-tree-element-container">
    <div id="lf-tree-description" *ngIf="description">{{description}}</div>
    <div class="lf-tree-container" *ngIf="dataSource && treeControl">
        <mat-tree class="lf-mat-tree" [dataSource]="dataSource" [treeControl]="treeControl">

            <mat-tree-node id="{{node?.id}}" *matTreeNodeDef="let node" class="lf-mat-tree-node"
                [class.selectable]="node.isSelectable" [class.selected]="node?.id === selected_node?.id"
                [title]="node.name" [matTreeNodePaddingIndent]="matTreeNodeIndent" matTreeNodePadding
                (keydown)="onKeyDownEvent(node, $event)" (click)="onClickTreeNode(node, $event)"
                (dblclick)="onDblClickTreeNode($event)" tabindex="0">
                <div *ngIf="getIcons(node).length>0" class="fixed-size-icon-container" tabindex="-1">
                    <img *ngFor="let icon of getIcons(node)" src="{{icon}}" alt="" class='lf-tree-node-icon' />
                </div>
                <div class="lf-mat-tree-node-text">{{node.name}}</div>
            </mat-tree-node>

            <mat-tree-node id="{{node?.id}}" *matTreeNodeDef="let node; when: hasChild" class="lf-mat-tree-node"
                [class.selectable]="node.isSelectable" [class.selected]="node?.id === selected_node?.id"
                [title]="node.name" [matTreeNodePaddingIndent]="matTreeNodeIndent" matTreeNodePadding
                (keydown)="onKeyDownEvent(node, $event)" (click)="onClickTreeNode(node, $event)"
                (dblclick)="onDblClickTreeNode($event)" tabindex="0">
                <span *ngIf="!node.isContainer" class="lf-tree-toggle-button-placeholder"></span>
                <button *ngIf="node.isContainer" class="lf-tree-toggle-button" mat-icon-button
                    [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle tabindex="-1">
                    <span *ngIf="treeControl.isExpanded(node)" class="material-icons">
                      expand_more
                    </span>
                    <span *ngIf="!treeControl.isExpanded(node)" class="material-icons">
                      navigate_next
                    </span>
                </button>
                <div *ngIf="getIcons(node).length>0" class="fixed-size-icon-container">
                    <img *ngFor="let icon of getIcons(node)" src="{{icon}}" alt="" class='lf-tree-node-icon' />
                </div>
                <div class="lf-mat-tree-node-text">{{node.name}}</div>
                <lf-loader-component class="lf-tree-loader" *ngIf="node?.isLoadingChildren"></lf-loader-component>
            </mat-tree-node>

        </mat-tree>
    </div>
    <div class="lf-tree-buttons">
        <span *ngIf="ok_button_text">
            <button class="primary-button lf-button" id="okButton"
                [disabled]="(selected_node === undefined || ok_button_disabled)" (click)="onClickOkButton()">
                {{ok_button_text}}
            </button>
        </span>
        <span *ngIf="cancel_button_text">
            <button class="sec-button lf-button" id="cancelButton" (click)="onClickCancelButton()">
                {{cancel_button_text}}
            </button>
        </span>
    </div>
</div>
