@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans-Light.woff) format('woff'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans.woff) format('woff'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans-Semibold.woff) format('woff'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans-Semibold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans-Bold.woff) format('woff'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans-Bold.ttf) format('truetype');
  }

  .lf-tree-element-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .lf-tree-container {
    overflow: auto;
    max-height: 100%;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .lf-mat-tree {
    box-sizing: border-box;
    margin: 10px 0px;
    max-width: 100%;
  }

  .lf-mat-tree-node {
    min-height: 20px;
    white-space: nowrap;
    max-width: 100%;
    min-width: 200px;
    box-sizing: border-box;
  }

  .lf-tree-toggle-button-placeholder {
    width: 24px;
  }

  .lf-tree-toggle-button {
    min-width: 20px;
    min-height: 24px;
    height: 20px;
    max-width: fit-content;
    line-height: 1;
    margin: 0px 0px;
    padding: 0px;
    background: transparent;
  }

  .lf-tree-toggle-button:focus {
    outline: none;
  }

  .fixed-size-icon-container {
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lf-tree-node-icon {
    display: block;
    height: 24px;
    width: 24px;
    overflow: hidden;
    position: absolute;
  }

  .lf-mat-tree-node-text {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .lf-tree-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .lf-tree-loader {
    padding-right: 10px;
  }

  .lf-mat-tree-node-text,
  .lf-tree-node-icon,
  .fixed-size-icon-container,
  .lf-tree-toggle-button,
  .lf-tree-buttons {
    user-select: none;
  }
