.lf-checklist-option-container {
  padding: 5px 0 5px 45px;
}

::ng-deep .lf-checklist-option-container .lf-checkbox.mat-mdc-checkbox .mdc-label {
  text-overflow: ellipsis;
  overflow: hidden;
}

.lf-checklist-option {
  margin-bottom: 5px;
}
