<div>
    <span class="lf-dialog-title lf-popup-dialog-title">{{NEW_FOLDER | async}}</span>
    <button class="lf-close-button" (click)="onClickClose()" [title]="CLOSE | async">
        <span class="material-icons">
          close
        </span>
    </button>
</div>
<div class="lf-dialog-message">
    <p *ngIf="errorMessage" class="popup-error">{{errorMessage}}</p>
    <p class="new-folder-label">{{NAME | async}}</p>
    <mat-form-field appearance="outline" class="lf-field">
        <input matInput autocomplete="off" ngDefaultControl [(ngModel)]="folderName">
    </mat-form-field>
</div>
<div class="lf-dialog-actions">
    <button class="lf-button primary-button dialog-button" [disabled]="!folderName || folderName.trim().length === 0"
        (click)="onOkClickAsync()">{{OK | async}}</button>
    <button class="lf-button sec-button dialog-button" (click)="onClickCancel()">{{CANCEL | async}}</button>
</div>
