.lf-close-button {
  cursor: pointer;
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  border: none;
  background: inherit;
  justify-content: center;
  color: #646464;
}

.lf-textarea {
  width: 100%;
  display: block;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  padding: 7px 10px 8px 10px;
  box-sizing: border-box;
}

.lf-textarea::-webkit-scrollbar {
  width: 8px;
}

.lf-textarea::-webkit-scrollbar-track {
  margin: 1px;
}

.lf-textarea::-webkit-scrollbar-thumb {
  background: #6d6d6d;
  border-radius: 10px;
}

.dialog-button {
  margin-left: 10px;
}

.character-count {
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-top: 2px;
}

.feedback-suggestion-textbox {
  resize: none;
}

.lf-user-feedback-description {
  margin-bottom: 10px;
}

.feedback-suggestion-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: 80%;
  height: 60px;
  background-color: inherit;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  line-height: 16px;
}

#lf-user-feedback-suggestion-mode-button {
  margin-top: 5px;
}

.feedback-suggestion-button:hover {
  background-color: #E0E0E0;
}

.email-checkbox-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

::ng-deep .user-feedback-content-container .lf-user-feedback-checkbox.mat-checkbox .mat-checkbox-layout {
  white-space: normal;
}

::ng-deep .lf-user-feedback-panel .mat-dialog-container {
  padding: 0;
}

.dialog-content {
  position: relative;
}

#messages {
  top: -15px;
}

.lf-text-label {
  display: block;
  padding-bottom: 5px;
}
