span#pop-up-dialog-close {
  color: #646464;
  opacity: 1;
}

span#pop-up-dialog-close:hover {
  opacity: 1;
}

.lf-close-button {
  cursor: pointer;
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  border: none;
  background: inherit;
  justify-content: center;
  color: #646464;
}

.lf-textarea {
  width: 100%;
  display: block;
  border: 1px solid #6D6D6D;
  border-radius: 2px;
  margin-top: 5px;
  padding: 7px 10px 8px 10px;
  box-sizing: border-box;
}

.lf-textarea::-webkit-scrollbar {
  width: 8px;
}

.lf-textarea::-webkit-scrollbar-track {
  margin: 1px;
}

.lf-textarea::-webkit-scrollbar-thumb {
  background: #6D6D6D;
  border-radius: 10px;
}

.dialog-button {
  margin-left: 10px;
}

.character-count {
  width: 100%;
  text-align: right;
  float: right;
  font-size: 12px;
  margin-top: 2px;
}

.feedback-suggestion-textbox {
  resize: none;
}

.lf-user-feedback-description {
  margin-bottom: 10px;
}

.feedback-suggestion-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: 80%;
  height: 60px;
  margin-bottom: 5px;
  background-color: inherit;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  line-height: 16px;
}

.feedback-suggestion-button:hover {
  background-color: rgb(224, 224, 224);
}

.email-checkbox-container {
  margin-top: 5px;
  display: inline-block;
}

::ng-deep .lf-user-feedback-checkbox.mat-checkbox .mat-checkbox-layout {
  white-space: normal;
}

::ng-deep .lf-user-feedback-panel .mat-dialog-container {
  padding: 0;
}


::ng-deep .mat-dialog-title.user-feedback-title {
  margin: 20px;
}

.lf-user-feedback-close-feedback-button {
  margin-right: 20px;
}

.feedback-file-input{
  display: none;
}

.upload-file-info {
  margin-top: 5px;
}
.upload-file-info td {
  padding: 5px;
  max-width: 230px;
  overflow-wrap: break-word;
}
.upload-file-remove{
  cursor: pointer;
  color:#147186;
}

.error-message {
  background-color: #FFF9EB;
}

.drop-zone {
  height: 50px;
  display: table;
  width: 100%;
  border: 1px solid #6D6D6D;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 7px 10px 8px 10px;
  box-sizing: border-box;
  color: #6D6D6D;
}

button#upload-button {
  margin-left: 10px;
}

.dialog-content {
  position: relative;
}

#messages {
  top: -15px;
}