.datetime-button-toggle {
  background: transparent;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  padding: 3px 5px 2px 5px;
  vertical-align: text-bottom;
}

.datetime-button-toggle:hover {
  color: rgba(0, 0, 0, 0.8);
}

.datetime-button-toggle:focus {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.datetime-icon {
  font-size: 22px;
}

/* TODO: this is only a temporary fix for Angular 13 datetime picker style issues. Remove this if there is better solution.*/
::ng-deep ngx-mat-calendar.lf-datetime-picker-overlay .mat-calendar-body-cell {
  position: relative;
}

::ng-deep ngx-mat-calendar.lf-datetime-picker-overlay .mat-calendar-arrow {
  width: 0;
}
