.lf-field, .lf-textarea {
  width: 100%;
  min-width: 50px;
}

.mat-mdc-input-element {
  caret-color: black;
}

.token-picker-field-box {
  width: 100%;
  display: flex;
  font-size: 14px;
}

.field-box {
  flex-grow: 1;
  flex-shrink: 1;
  display: inline-block;
  width: 100%;
}

::ng-deep ngx-mat-timepicker > form > table > tbody > tr > td > mat-form-field.mat-mdc-form-field-appearance-legacy > .mat-mdc-text-field-wrapper {
  padding: 1em 0;
}

::ng-deep ngx-mat-timepicker > form > table > tbody > tr > td > mat-form-field.mat-mdc-form-field-appearance-legacy > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  border-top: 0 solid transparent;
}

::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix,
::ng-deep mat-form-field.lf-textarea > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  padding: 0 0 0 0;
  border: none;
}

::ng-deep mat-form-field.lf-field.lf-date-field > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  line-height: 0;
}

::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex >
.mat-mdc-form-field-infix > .mat-mdc-select > .mat-mdc-select-trigger > .mat-mdc-select-arrow-wrapper {
  padding-top: 0px;
}

::ng-deep .lf-field {
  .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__trailing {
    border-color: #ccc;
  }
}

::ng-deep .mdc-text-field--outlined  {
  --mdc-outlined-text-field-focus-outline-color: black;
  &:hover {
    --mdc-outlined-text-field-outline-width: 2px;
  }
}

/* ::ng-deep .lf-template-picker .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
} */
::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex >
.mat-mdc-form-field-infix > .mat-mdc-select > .mat-mdc-select-trigger > .mat-mdc-select-arrow-wrapper > .mat-mdc-select-arrow {
  color: rgba(0,0,0,.54);
}

::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline {
  height: 28px;
  color: #ccc;
}

::ng-deep mat-form-field.lf-textarea > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline {
  color: #ccc;
}

::ng-deep mat-form-field.lf-field > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick {
  color: black;
}

::ng-deep mat-form-field.lf-field.ng-invalid > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea.ng-invalid > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick {
  color: red;
}

::ng-deep mat-form-field.lf-field.ng-invalid.ng-pristine > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea.ng-invalid.ng-pristine > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick {
  color: black;
}

::ng-deep mat-form-field.lf-field.mat-mdc-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep mat-form-field.lf-textarea.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 4px 0 0 4px;
}

::ng-deep mat-form-field.lf-field.mat-mdc-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep mat-form-field.lf-textarea.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 4px 4px 0;
}

::ng-deep mat-form-field.lf-field .mat-mdc-form-field-subscript-wrapper,
::ng-deep mat-form-field.lf-textarea .mat-mdc-form-field-subscript-wrapper {
  position: static;
}
::ng-deep lf-field-template-container-component .lf-template-picker > .mat-mdc-form-field-subscript-wrapper {
  height: 0px;
 }

::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper,
::ng-deep mat-form-field.lf-textarea > .mat-mdc-text-field-wrapper {
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
}

::ng-deep mat-form-field.lf-date-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-icon-suffix {
  top: -.2em;
  position: unset;
}

.lf-field-token-picker {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 1px;
  vertical-align: top;
}


.mat-mdc-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal
}

.mat-mdc-form-field-subscript-wrapper {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
}

::ng-deep .mdc-floating-label.mat-mdc-floating-label {
  display: none;
}


::ng-deep .lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex {
  height: 28px;
}

::ng-deep .lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  height: inherit;
  min-height: 0px;
}

::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex >
.mat-mdc-form-field-infix > .mat-mdc-select, 
::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex >
.mat-mdc-form-field-infix > .mat-mdc-select > .mat-mdc-select-trigger {
  height: inherit;
  font-size: 14px;
}

::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex >
.mat-mdc-form-field-infix > .mat-mdc-input-element {
  height: inherit;
}

/* Remove the underline under the form */
::ng-deep .mdc-line-ripple {
    display: none;
}

/* ::ng-deep .mat-mdc-option {
  font-size: 14px;
} */

::ng-deep .mat-mdc-form-field-error-wrapper {
  position: relative;
}

.mat-mdc-form-field-error {
    transform: translateY(-80%)
}

/* ::ng-deep .lf-field.lf-dropdown.lf-template-picker > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex {
  height: 35px;
  background-color: white;
} */


::ng-deep .lf-field .mdc-text-field {
  border-radius: 0px;
}