.lf-field, .lf-textarea {
  width: 100%;
  min-width: 50px;
}

.mat-input-element {
  caret-color: black;
}

.token-picker-field-box {
  width: 100%;
  display: flex;
}

.field-box {
  flex-grow: 1;
  flex-shrink: 1;
  display: inline-block;
  width: 100%;
}

::ng-deep ngx-mat-timepicker > form > table > tbody > tr > td > mat-form-field.mat-form-field-appearance-legacy > .mat-form-field-wrapper {
  padding: 1em 0;
}

::ng-deep ngx-mat-timepicker > form > table > tbody > tr > td > mat-form-field.mat-form-field-appearance-legacy > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-infix {
  border-top: 0 solid transparent;
}

::ng-deep mat-form-field.lf-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-infix,
::ng-deep mat-form-field.lf-textarea > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-infix {
  padding: 11px 0 7px 0;
  border: none;
}

::ng-deep mat-form-field.lf-field.lf-date-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-infix {
  line-height: 0;
}

::ng-deep mat-form-field.lf-field > .mat-form-field-wrapper > .mat-form-field-flex >
.mat-form-field-infix > .mat-select > .mat-select-trigger > .mat-select-arrow-wrapper {
  padding-top: 8px;
}

::ng-deep mat-form-field.lf-field > .mat-form-field-wrapper > .mat-form-field-flex >
.mat-form-field-infix > .mat-select > .mat-select-trigger > .mat-select-arrow-wrapper > .mat-select-arrow {
  color: rgba(0,0,0,.54);
}

::ng-deep mat-form-field.lf-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline {
  height: 28px;
  color: #ccc;
}

::ng-deep mat-form-field.lf-textarea > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline {
  color: #ccc;
}

::ng-deep mat-form-field.lf-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline-thick {
  color: black;
}

::ng-deep mat-form-field.lf-field.ng-invalid > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea.ng-invalid > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline-thick {
  color: red;
}

::ng-deep mat-form-field.lf-field.ng-invalid.ng-pristine > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea.ng-invalid.ng-pristine > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline-thick {
  color: black;
}

::ng-deep mat-form-field.lf-field.mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep mat-form-field.lf-textarea.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 4px 0 0 4px;
}

::ng-deep mat-form-field.lf-field.mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep mat-form-field.lf-textarea.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 4px 4px 0;
}

::ng-deep mat-form-field.lf-field .mat-form-field-subscript-wrapper,
::ng-deep mat-form-field.lf-textarea .mat-form-field-subscript-wrapper {
  position: static;
}

::ng-deep mat-form-field.lf-field > .mat-form-field-wrapper,
::ng-deep mat-form-field.lf-textarea > .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep mat-form-field.lf-date-field > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-suffix {
  top: -.2em;
}

.lf-field-token-picker {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 1px;
  line-height: 50px;
  vertical-align: top;
}
