.lf-field, .lf-textarea {
  width: 100%;
  min-width: 50px;
}

.mat-mdc-input-element {
  caret-color: black;
}

.token-picker-field-box {
  width: 100%;
  display: flex;
}

.field-box {
  flex-grow: 1;
  flex-shrink: 1;
  display: inline-block;
  width: 100%;
}

::ng-deep ngx-mat-timepicker > form > table > tbody > tr > td > mat-form-field.mat-mdc-form-field-appearance-legacy > .mat-mdc-text-field-wrapper {
  padding: 1em 0;
}

::ng-deep ngx-mat-timepicker > form > table > tbody > tr > td > mat-form-field.mat-mdc-form-field-appearance-legacy > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  border-top: 0 solid transparent;
}

/* Change made.  */
::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix,
::ng-deep mat-form-field.lf-textarea > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  padding: 11px 0 7px 0;
  border: none;
}

::ng-deep mat-form-field.lf-field.lf-date-field > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  line-height: 0;
}

/* Change made.  */
::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex >
.mat-mdc-form-field-infix > .mat-mdc-select > .mat-mdc-select-trigger > .mat-mdc-select-arrow-wrapper {
  padding-top: 8px;
}


::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit;
}
::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex >
.mat-mdc-form-field-infix > .mat-mdc-select > .mat-mdc-select-trigger > .mat-mdc-select-arrow-wrapper > .mat-mdc-select-arrow {
  color: rgba(0,0,0,.54);
}

::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline {
  height: 28px;
  color: #ccc;
}

::ng-deep mat-form-field.lf-textarea > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline {
  color: #ccc;
}

::ng-deep mat-form-field.lf-field > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick {
  color: black;
}

::ng-deep mat-form-field.lf-field.ng-invalid > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea.ng-invalid > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick {
  color: red;
}

::ng-deep mat-form-field.lf-field.ng-invalid.ng-pristine > .mat-mdc-form-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick,
::ng-deep mat-form-field.lf-textarea.ng-invalid.ng-pristine > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-outline-thick {
  color: black;
}

::ng-deep mat-form-field.lf-field.mat-mdc-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep mat-form-field.lf-textarea.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 4px 0 0 4px;
}

::ng-deep mat-form-field.lf-field.mat-mdc-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep mat-form-field.lf-textarea.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 4px 4px 0;
}

::ng-deep mat-form-field.lf-field .mat-mdc-form-field-subscript-wrapper,
::ng-deep mat-form-field.lf-textarea .mat-mdc-form-field-subscript-wrapper {
  position: static;
}

::ng-deep mat-form-field.lf-field > .mat-mdc-text-field-wrapper,
::ng-deep mat-form-field.lf-textarea > .mat-mdc-text-field-wrapper {
  padding-bottom: 0;
}

/* dont know about suffix */
::ng-deep mat-form-field.lf-date-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-form-field-suffix {
  top: -.2em;
}

.lf-field-token-picker {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 1px;
  line-height: 50px;
  vertical-align: top;
}


.mat-mdc-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal
}

.mat-mdc-form-field-subscript-wrapper {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
}

::ng-deep .mdc-floating-label.mat-mdc-floating-label {
  display: none;
}