<mat-form-field title="{{nameToDisplay}}" appearance="outline" class="lf-field">
  <mat-select [formControl]="lf_field_form_control" title="{{lf_field_form_control.value}}"
      (selectionChange)="onValueChanged()">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let listOption of lf_field_info.listValues" [value]="listOption">
          {{listOption}}
      </mat-option>
  </mat-select>
  <mat-error *ngIf="getBrokenValidationRule()">{{fieldValidationErrorMsg | async}}</mat-error>
</mat-form-field>
