/* TODO: this is only a temporary fix for Angular datetime picker style issues. Remove this if there is better solution.*/
::ng-deep mat-calendar.lf-date-picker-overlay .mat-calendar-arrow {
  width: 0;
  height: 0;
}

::ng-deep mat-calendar.lf-date-picker-overlay .mat-calendar-body-cell {
  position: absolute;
  height: 100%;
}

::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
    padding-top: 12px;
    padding-right: 0px;
}

