.lf-toolbar-container {
  display: inline-block;
  white-space: nowrap;
}

.lf-toolbar-expanded-button-span {
  display: inline-block;
  position: relative;
}

.lf-toolbar-button {
  width: 30px;
  height: 28px;
  margin: 0 0 0 4px;
  padding: 4px 5px;
  line-height: 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  background-color: inherit;
}

.lf-toolbar-button:hover:enabled,
.lf-toolbar-button:focus {
  background: none repeat scroll 0 0 #e7e7e7;
  outline: none;
}

.lf-toolbar-button:disabled {
  cursor: default;
  opacity: 0.33;
}

.lf-toolbar-button-icon {
  height: 18px;
  width: 18px;
}

::ng-deep .mat-mdc-menu-panel.lf-dropdown-menu {
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  min-height: 0px;
}

::ng-deep .lf-dropdown-menu-option.mat-mdc-menu-item {
  position: relative;
  box-sizing: border-box;
  display: block;
  text-align: -webkit-match-parent;
  color: #202020;
  padding: 3px 24px;
  margin: 2px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.428571429;
  height: 26px;
  min-height: unset;
}

::ng-deep .mat-mdc-menu-content > .lf-dropdown-menu-option.mat-mdc-menu-item > .mat-mdc-menu-item-text {
  font-size: 14px;
}
.lf-dropdown-menu-option:disabled {
  color: #999;
  pointer-events: all;
  cursor: not-allowed;
}

.lf-dropdown-menu-option:hover:enabled {
  background-color: rgba(204, 233, 241, 0.5);
}

.lf-dropdown-menu-option:focus:enabled {
  background-color: rgba(204, 233, 241, 0.3);
}

.lf-toolbar-dropdown-button-icon {
  font-size: 18px;
}

::ng-deep .lf-web-client-tooltip {
  background-color: rgb(0 0 0 / 75%);
  font-size: 12px;
}

/* font size to 14 */
