<div [hidden]="hideTemplate">
  <mat-form-field floatLabel="never" class="lf-template-picker lf-dropdown">
    <mat-select name="template-dropdown" id="template-dropdown" class="lf-dropdown"
        (selectionChange)="onTemplateChangedAsync($event)"
        (openedChange)="onToggleDropdownAsync($event)"
        [(value)]="dropdownValue" [compareWith]="compareTemplateInfoFunc"
        [ngClass]="{'lf-dropdown-no-template': !templateSelected?.name }">
        <mat-option selected [value]="(emptyTemplateName | async)">{{emptyTemplateName | async}}</mat-option>
        <mat-option *ngFor="let template of availableTemplates" [value]="template">{{template.name}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="error-message" *ngIf="templateErrorMessage">{{templateErrorMessage | async}}</div>
  <ng-template lfFieldView></ng-template>
</div>
