.error-message {
  color: red;
  padding-top: 10px;
  padding-left: 5px;
}

.lf-template-picker {
  margin-bottom: 20px;
}

.dropdown-error-message {
  color: red;
}

::ng-deep lf-field-template-container .lf-template-picker > .mat-mdc-text-field-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}

::ng-deep lf-field-template-container  {
  font-size: 14px;
}

::ng-deep lf-field-template-container .lf-template-picker > .mat-mdc-form-field-subscript-wrapper {
  height: 0px;
} 
